html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f6fa; /* Extend background color to entire page */
}
.App {
  height: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f6fa;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: white;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.dropdown {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #d3d3d3;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  font: bold;
}

.dropdown:hover {
  border-color: #a0a0a0;
}

.arrow {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.dropdown-content {
  background-color: #f4f6fa;
  color: gray;
  font: bold;
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  z-index: 1000;
  padding: 10px 0;
  font-size: 14px;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 4px;
  font-size: 14px;
  margin-left: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

select:hover {
  border-color: #a0a0a0;
}
